{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>GIFs</title>
	<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="img/jpg" href="{% static 'home/icon.ico' %}">
	{% block head %}{% endblock %}
</head>
<body id="body">
	<div id="loader">
		<div class="loader_text">IFGIF</div>
		<div class="loader_icon">
			<span>I</span>
		</div>
		<div class="loader_text">Loading...</div>
	</div>
	<header>
		<nav>
			<div id="logo"><a href="{% url 'home:home' %}"><img src="{% static 'home/logo.png' %}" alt="IFGIF-LOGO"></a></div>
			<span>
				<a href="{% url 'home:upload' %}"><div id="upload"><div><p>Upload</p></div></div></a>
				{% if user.is_authenticated %}
					<a href="{% url 'logout' %}?next={% url 'home:home' %}"><div id="sign_in" title="logout">
						<p>
							{{ user }}
						</p>
					</div></a>
				{% else %}
					<a href="{% url 'login' %}?next={% url 'home:home' %}"><div id="sign_in">
						<p>
							SIGN IN
						</p>
					</div></a>
				{% endif %}
				<div id="explore" class="close" onclick="menu(this)"><div id="up"></div><div id="mid"></div><div id="down"></div></div>
				<content id="expage_back"></content>
				<div id="expage">
					{% if user.is_authenticated %}
						<a href="{% url 'logout' %}?next={% url 'home:home' %}"><div id="signin">
							<b>
								<b>{{ user }}</b>
							</b>
						</div></a>
					{% else %}
						<a href="{% url 'login' %}?next={% url 'home:home' %}"><div id="signin">
							<b>
								<b>Sign in</b>
							</b>
						</div></a>
					{% endif %}
					<!-- <div id="signin">
						<b>
							<b>Sign in</b>
						</b>
					</div> -->
					<div id="about">
						<div><b>About</b></div>
						<a href="#body">FAQ</a>
						<a href="#body">Terms</a>
						<a href="#body">Privacy</a>
						<a href="#body">About us</a>
						<div id="sm">
							<a href="#body"><img src="{% static 'home/facebook.png' %}"></a>
							<a href="#body"><img src="{% static 'home/instagram.png' %}"></a>
							<a href="#body"><img src="{% static 'home/twitter.png' %}"></a>
						</div>
					</div>
				</div>
			</span>
		</nav>
		{% block header_content %}{% endblock %}
	</header>
	{% block content %}{% endblock %}
</body>
</html>